.score {
    padding: 1em;
    margin: 1em;
    /* border: 1px solid #fff; */
    width: 75%;
    text-align: center;
    box-shadow: 0 0 3px #fff;
}

.score--startgame,
.score--score,
.score--gameover,
.score--gamewon,
.score--word,
.score--tryagain {
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0;
    text-shadow: 2px 2px 4px #000000;
}

.score--gameover,
.score--gamewon {
    font-size: 1rem;
    margin-bottom: .3em;
}

.score--gamewon {
    color: #00a72d;
    text-shadow: 0 0 4px #08631c;
}

.score--gameover {
    color: #ea1010;
    text-shadow: 0 0 4px #990505;
}

.score--word,
.score--tryagain {
    text-transform: none;
}

.score--tryagain {
    font-size: .6rem;
    letter-spacing: 1px;
    margin-top: .3rem;
}

@media (min-width: 450px) {
    .score {
        width: 350px;
    }

    .score--startgame,
    .score--score,
    .score--gameover,
    .score--gamewon,
    .score--word {
        font-size: 1rem;
    }

    .score--gameover,
    .score--gamewon {
        font-size: 1.3rem;
    }

    .score--tryagain {
        font-size: .8rem;
    }
}


@media (min-width: 750px) {
    .score {
        width: 450px;
    }

    .score--startgame,
    .score--score,
    .score--gameover,
    .score--gamewon,
    .score--word {
        font-size: 1.2rem;
    }

    .score--gameover,
    .score--gamewon {
        font-size: 1.5rem;
    }

    .score--tryagain {
        font-size: .9rem;
    }
}