.randomWord {
    padding: 1em;
}

.randomWord--letter {
    display: inline;
    margin: 0;
    padding: .5em;
    text-decoration: underline;
}

@media (min-width: 400px) {
    .randomWord--letter {
        font-size: 1.5rem;
    }
    
}