.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: .5em;
}

.navbar--logo {
    width: 40px;
    margin-right: 1em;
}

.navbar--title {
    font-size: 1.5rem;
}